<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Clinic.Data.Properties.Settings.clinicConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Clinic;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>